.shoppingcart{
    background-color: white;
    width: 420px;
    min-height: 250px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px #888888;
    display: none;
}

 .showcart{
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 120px;
} 

.shoppingcart>h2{
    margin-left: 20px;
    font-size: 20px;
}

.basket-content>ul{
    padding-left:10px ;
}

.basket-content li{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.item>img{
    width: 50px;
    border-radius: 5px;
    margin: 0 5px;
}
.item>span{
    font-size: 18px;
    align-self: flex-start;
}

.deletebtn{
    align-self: flex-start;
}