.shoppingcart{
    background-color: white;
    width: 450px;
    min-height: 250px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px #888888;
    display: none;
    z-index: 1;
}
.shoppingcart .pricing{
    width: 60%;
    background-color: white;
    margin: 0 auto;
}
 .showcart{
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 120px;
} 

.shoppingcart>h2{
    margin-left: 20px;
    font-size: 20px;
}

.basket-content{
    display: flex;
    flex-direction: column;
    gap: 0px;    
}

.basket-content>ul{
    padding-left:10px;
}

.basket-content li{
    list-style: none;
    display: block;    
    margin: 10px 0;
    height: 100px;
    position: relative;
}

.itemimg{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    margin: 0 5px;
}
.itemname{
    font-size: 18px;
    position: absolute;
    top: 3px;
}

.deletebtn{
    border-radius: 5px;
    position: absolute;
    right: 8px;
    top: 5px;
    width:20px;
}

.figures{
    position: relative;    
    bottom: 2px;
}

.subtotal{
    left: 30px;
    font-weight: 900;
}


.total{
    text-align: center;
    margin:0px;
    font-size: 25px;
}

.basket-content button{
    width: 70%;
    margin:30px auto;
    background-color: var(--orange);
    color: white;
    display: block;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    font-weight: 700;    
}



@media screen and (max-width:650px) {
    .shoppingcart{
        width: 100%;                
    }
    .showcart{
        top: 70px;
        /* left: 20px; */
    }

    .itemimg{
        width: 70px;
    }

    .itemname{
        font-size: 16px;
    }


    .figures{
        position: relative;    
        bottom: 5px;
    }
}